<!-- NAVBAR COMPONENT -->
    <nav class="flex items-center justify-between flex-wrap bg-pink-600 p-2 rounded">
      <div class="flex items-center flex-shrink-3 text-white mr-6">
        <span class="font-bold text-xl">RentMe</span>
      </div>
        <div class="flex-col justify-end">
          <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
            <div class="hidden sm:flex items-center justify-between space-x-2">
              <div>
                <p class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-pink-600
                hover:bg-white mt-4 md:mt-1"><%= link_to "Sign Up", new_user_registration_path %>
                </p>
              </div>
              <div>
                <p class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-pink-600
                hover:bg-white mt-4 md:mt-1"><%= link_to "Login", new_user_session_path %>
                </p>
              </div>
            </div>
          </div>
        </div>
    </nav>

<!-- END OF NAVBAR -->
<h1 class="text-bold text-cyan-900 text-2xl text-center py-10 justify-items-center">Sign up</h1>
<div class="mt-6 flex justify-center">
  <div class="w-1/2 xl:w-1/2"
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
          <span class="text-cyan-900 text-bold">First Name</span>
          <%= f.input :first_name, label: false,
                      input_html: { autocomplete: "First Name", class: "mt-1 mb-4 block w-full rounded-md bg-gray-100
                      border-transparent focus:border-gray-500 focus:bg-white
                      focus:ring-0" }%>
          <span class="text-cyan-900 text-bold">Last Name</span>
          <%= f.input :last_name, label: false,
                      input_html: { autocomplete: "Last Name", class: "mt-1 mb-4 block w-full rounded-md bg-gray-100
                      border-transparent focus:border-gray-500 focus:bg-white
                      focus:ring-0" }%>
          <span class="text-cyan-900 text-bold">Avatar (image url)</span>
          <%= f.input :avatar, label: false,
                      input_html: { autocomplete: "Avatar", class: "mt-1 mb-4 block w-full rounded-md bg-gray-100
                      border-transparent focus:border-gray-500 focus:bg-white
                      focus:ring-0" }%>
          <span class="text-cyan-900 text-bold">Email</span>
          <%= f.input :email, label: false,
                      input_html: { autocomplete: "Email", class: "mt-1 mb-4 block w-full rounded-md bg-gray-100
                      border-transparent focus:border-gray-500 focus:bg-white
                      focus:ring-0" }%>
          <span class="text-cyan-900 text-bold">Password</span>
          <%= f.input :password, label: false,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "New-password", class: "mt-1 mb-4 block w-full rounded-md bg-gray-100
                      border-transparent focus:border-gray-500 focus:bg-white
                      focus:ring-0" } %>
          <span class="text-cyan-900 text-bold">Confirm Password</span>
          <%= f.input :password_confirmation, label: false,
                      required: true,
                      input_html: { autocomplete: "New-password", class: "mt-1 mb-4 block w-full rounded-md bg-gray-100
                      border-transparent focus:border-gray-500 focus:bg-white
                      focus:ring-0" } %>

      <div class="mt-4 justify-center"
          <div class="form-actions">
              <p class="inline-block text-lg mt:mb2 px-6 py-4 shadow-2xl leading-none border rounded text-pink-600 border-pink-600 hover:text-white hover:bg-pink-600 mt-4 md:mt-0" >
                <%= f.button :submit, "Sign up" %></p>
              <p class="inline-block text-lg mb-4 px-6 py-4 shadow-2xl leading-none border rounded text-pink-600 border-pink-600 hover:text-white hover:bg-pink-600 mt-4 md:mt-0" >
                <%= render "devise/shared/links" %>
              </p>
          <div>
        <% end %>
      </div>
  </div>
