<section class="relative bg-white h-80">
  <img
    class="absolute inset-0 object-[75%] sm:object-[25%] object-cover w-full h-full opacity-30"
    src="https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
    alt="people"
  />

  <div class="relative max-w-screen-xl px-4 py-32 mx-auto lg:h-screen lg:items-center">
    <div class="max-w-xl text-center sm:text-left">
      <h1 class="text-3xl sm:text-5xl text-hotpink italic">
        Book this listing now!
      </h1>
    </div>
  </div>
</section>

<br>
<br>

<div class="relative justify-center p-8 text-center flex border border-transparent rounded-lg m- w-9/12 mx-auto shadow-lg shadow-pink-200">
  <div class="lg:flex justify-center">
    <div class="lg:flex-shrink-0">
      <img class="rounded-lg lg:w-64 shadow-2xl" src="<%= @listing.user.avatar %>"/>
    </div>
      <div class="p-5">
      <div class="flew flex-row m-5 justify-between">
        </div>
        <div class="mt-5 lg:mt-1 lg:ml-6">
          <p class="uppercase tracking-wide text-lg text-headings font-bold">Hi, my name is <%= @listing.user.first_name%></p>
        </div>
        <div class="mt-5 lg:mt-1 lg:ml-6">
          <p class="uppercase tracking-wide text-lg text-black font-semi-bold"><%= @listing.slogan %></p>
        </div>
        <div>
          <p class="block mt-4 text-lg leading-relaxed italic text-gray-900"><%= @listing.description %></p>
        </div>
        <div>
          <p class="block mt-4 text-lg leading-relaxed font-bold text-black"> Fee: ¥ <%= @listing.fee %>0 </p>
        </div>
        <br>
        <div>
          <p class="inline-block text-lg px-6 py-4 shadow-2xl leading-none border rounded-3xl text-hotpink border-hotpink hover:text-white hover:bg-hotpink mt-4 md:mt-0" >
            <% if policy(Listing).create? %>
              <%= link_to "Rent Me!", new_listing_booking_path(@listing) %>
            <% end %>
          </p>
        </div>
        <br>


    <% if policy(@listing).edit? %>
      <%= link_to edit_listing_path(@listing) do %>
        <button class="mx-2">
          <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-alt-circle-up" class="w-7 h-7" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#FF008E" d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z"/></svg>
        </button>
      <% end %>
    <% end %>
    <%= link_to listing_path(@listing), method: :delete, data: { confirm: "Are you sure you want to delete this listing?"}, class: 'text-danger' do %>
      <button class="mx-2">
        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-alt-circle-up" class="w-7 h-7" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#FF008E" d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z"></svg>
      </button>
    <% end %>


          <%= link_to listing_path(@listing), method: :delete, data: { confirm: "Are you sure you want to delete this listing?"}, class: 'text-danger' do %>
            <button class="mx-2">
              <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-alt-circle-up" class="w-7 h-7" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#FF008E" d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z"></svg>
            </button>
          <% end %>
      </div>
    </div>
  </div>
</div>

<br>
<br>
