<aside class="relative overflow-hidden text-gray-300 bg-white lg:flex shadow-lg shadow-pink-200">
  <div class="w-full p-12 text-center lg:w-1/2 sm:p-16 lg:p-24 lg:text-left">
    <div class="max-w-xl mx-auto lg:ml-0">

      <p class="mt-2 text-2xl font-bold text-hotpink sm:text-3xl">
        Welcome <%= current_user.first_name %> <%= current_user.last_name %>
      </p>

      <p class="text-black lg:mt-4 lg:block">
      This is your profile page where you can view your listings and bookings
      </p>
    </div>
  </div>

  <div class="relative w-full h-64 sm:h-96 lg:w-1/2 lg:h-auto">
    <img
      src="<%= current_user.avatar %>"
      alt=""
      class="absolute inset-0 object-cover w-full h-full"
    />
  </div>
</aside>

            <%# -------------BOOKINGS BOX------------- %>
            <div class=" m-24 max-w-cover px-5 pt-2 rounded-lg overflow-hidden shadow-lg bg-gray-200/20  border-2 border-pink-600 grid grid-cols-1 divide-y">
              <div class="font-bold text-3xl py-5 pl-10">My Bookings</div>
                <div class="container mx-auto px-2">
                    <% current_user.bookings.each do |booking| %>
                      <div class="flex-1 text-center bg-white border-2  shadow-2xl shadow-pink-200 px-5 py-5 m-2 rounded">
                        <div class="container mt-4">
                          <div class="lg:flex lg:items-center">
                          <%# ---------------line 1 PHOTO--------------- %>
                            <div class="flex items-center justify-center">
                              <img class="object-cover rounded h-80 w-80"  src="<%= booking.listing.user.avatar %>"/>
                            </div>
                            <div class="p-5">
                              <div class="mt-4 lg:mt-0 lg:ml-6">
                                <p class="uppercase tracking-wide text-lg text-cyan-900 font-bold">You have booked <%= booking.listing.user.first_name %> for a <%= (booking.listing.category.name).capitalize %> Listing </p>
                                  <div>
                                  <br>
                                    <p class="inline-block text-sm px-4 py-2 rounded border text-white bg-hotpink hover:border-hotpink parent hover:text-hotpink hover:bg-white"><%= link_to "View Listing", listings_path(user_id: booking.listing.user_id) %></p>

                                  </div>
                                  <br>
                                <p class="block mt-1 text-lg leading-tight font-normal text-gray-900">Fee: ¥<%= booking.listing.fee %> </p>
                                <br>
                                <p class="block mt-1 text-lg leading-tight font-normal text-gray-900">Your booking requirements: <%= booking.requirements %> </p>
                                <br>
                                <p class="block mt-1 text-lg leading-tight font-semibold text-gray-900">Confirmed: <%= booking.status ? "Yes" : "No" %> </p>
                                <br>
                              </div>


                                              <%# ----------ALL Icons---------- %>
   <div>
   <br>
               <%# ----------Edit Icon---------- %>
    <%= link_to edit_booking_path(booking) do %>
    <button class="hover:shadow-2xl p-3 rounded border hover:border-pink-600">
     <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-alt-circle-up" class="w-7 h-7" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="#FF008E" d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z"/></svg>
    </button>
    <% end %>



                            <%# ----------Delete Icon---------- %>
    <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to delete this booking?"}, class: 'text-danger' do %>
    <button class="hover:shadow-2xl p-3 rounded border hover:border-pink-600">
      <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-alt-circle-up" class="w-7 h-7" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="#FF008E" d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z"></svg>
    </button>
    <% end %>

                          <%# ----------Review Icon---------- %>
    <%= link_to new_booking_review_path(booking) do %>
    <button class="hover:shadow-2xl p-3 rounded border hover:border-pink-600">
      <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-alt-circle-up" class="w-7 h-7" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="#FF008E" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>
    </button>
    <% end %>


  </div>


                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                </div>
              </div>
            </div>


              <%# -------------LISTINGS BOX------------- %>

            <div class=" m-24 max-w-cover px-5 pt-2 rounded-lg overflow-hidden shadow-lg bg-gray-200/20  border-2 border-pink-600 grid grid-cols-1 divide-y">
              <div class="font-bold text-3xl py-5 pl-10">My Listings</div>
                <div class="container mx-auto px-2">
                  <div class="md:flex">
                    <% current_user.listings.each do |listing| %>
                      <%= link_to listing_path(listing) do %>
                        <div class="flex-1 text-center bg-white border-2  shadow-2xl shadow-pink-200 px-5 py-5 m-2 rounded">
                          <div class="container mt-4">
                            <div class="lg:flex lg:items-center">

                                                              <%# --------photo Left Side -------- %>
                                <div class="flex items-center justify-center">
                                  <img class="object-cover rounded h-80 w-80" src="<%= listing.user.avatar %>"/>
                                </div>


                                <div class="p-5">

                                                              <%# --------right Side -------- %>
                                  <div>
                                                              <%# --------line 1 category-------- %>
                                    <div class="pt-1 pb-8">
                                      <p class="uppercase tracking-wide text-lg text-cyan-900 font-bold underline"><%= (listing.category.name).capitalize %> Listing </p>
                                    </div>
                                                                <%# --------line 2 name-------- %>
                                    <div class="mt-5 lg:mt-1 lg:ml-6">
                                      <p class="uppercase tracking-wide text-lg text-cyan-900 font-bold">Hi, my name is <%= listing.user.first_name%></p>
                                    </div>
                                                                  <%# --------line 3 fake BF-------- %>

                                    <div class="mt-4 lg:mt-1 lg:ml-6">
                                      <p class="uppercase tracking-wide text-lg text-cyan-900  font-semi-bold"><%= listing.slogan %></p>
                                    </div>
                                                                  <%# --------line 4 details-------- %>

                                    <div class="mt-4 lg:mt-1 lg:ml-6">
                                      <p class="text-lg font-normal font-sans text-gray-900"><%= listing.description %></p>
                                    </div>
                                    <br>
                                                                  <%# --------line 5 fee-------- %>
                                    <div class="mt-4 lg:mt-1 lg:ml-6">
                                      <p class="text-lg leading-relaxed font-normal text-gray-900">Fee: ¥<%= listing.fee %></p>
                                    </div>

                                  </div>



   <div>
   <br>
               <%# ----------Edit Icon---------- %>
    <%= link_to edit_listing_path(listing) do %>
    <button class="hover:shadow-2xl p-3 rounded border hover:border-pink-600">
     <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-alt-circle-up" class="w-7 h-7" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="#FF008E" d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z"/></svg>
    </button>
    <% end %>


                            <%# ----------Delete Icon---------- %>
    <%= link_to listing_path(listing), method: :delete, data: { confirm: "Are you sure you want to delete this listing?"}, class: 'text-danger' do %>
    <button class="hover:shadow-2xl p-3 rounded border hover:border-pink-600">
      <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-alt-circle-up" class="w-7 h-7" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="#FF008E" d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z"></svg>
    </button>
    <% end %>
  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

</div>
