
<!-- NAVBAR COMPONENT -->
    <nav class="flex items-center justify-between flex-wrap bg-pink-600 p-2 rounded">
      <div class="flex items-center flex-shrink-3 text-white mr-6">
        <span class="font-bold text-xl">RentMe</span>
      </div>
        <div class="flex-col justify-end">
          <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
            <div class="hidden sm:flex items-center justify-between space-x-2">
              <div>
                <p class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-pink-600
                hover:bg-white mt-4 md:mt-1"><%= link_to "Sign Up", new_user_registration_path %>
                </p>
              </div>
              <div>
                <p class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-pink-600
                hover:bg-white mt-4 md:mt-1"><%= link_to "Login", new_user_session_path %>
                </p>
              </div>
            </div>
          </div>
      <div>
          <p><%= link_to "My Profile", profile_path, class: "inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 md:mt-0" %></p>
        </div>
        </div>
    </nav>

<!-- END OF NAVBAR -->




<div class="py-5 px-5">
  <img class="flex items-center rounded object-contain h-xl w-xl" src="https://images.unsplash.com/photo-1490578474895-699cd4e2cf59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80" alt="showreel" />
</div>

<!-- CARDS COLUMNS -->

<div class="container mt-5 mx-auto px-2">
  <div class="lg:flex">
    <% @categories.each do |category| %>
      <%= link_to category_path(category) do %>
        <div class="flex-1 border-pink-600 border-4 text-gray-700 text-center bg-white px-5 py-5 m-2 rounded">
          <div class="container mt-4">
            <div class="lg:flex lg:items-center">
                <div class="lg:flex-shrink-0">
                  <img class="rounded-lg lg:w-64 lg:h-64" src="<%= category.image_url %>"/>
                </div>
                <div class="p-5">
                  <div class="mt-4 lg:mt-0 lg:ml-6">
                    <p class="uppercase tracking-wide text-lg text-purple-700 font-bold"><%= category.name %></p>
                  </div>
                  <div>
                    <p class="inline-block mt-1 text-lg leading-tight font-semibold text-gray-900"><%= category.description %></p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


    <%# <div class="container mt-5 mx-auto px-2">


    <!-- CARD COLUMNS -->
    <div class="container mt-5 mx-auto px-2">
      <!-- Flex on med screens and up -->
      <div class="md:flex">
        <div
          class="flex-1 text-gray-700 text-center bg-pink-300 px-5 py-5 m-2 rounded"
        >
          <div class="lg:flex lg:items-center">
            <div class="lg:flex-shrink-0">
              <img class="rounded-lg lg:w-64" src="https://images.unsplash.com/photo-1518894347072-3bfedb006095?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1373&q=80" alt="CNY Picture" />
            </div>
            <div class="mt-4 lg:mt-0 lg:ml-6">
              <div
                class="uppercase tracking-wide text-sm text-purple-600 font-bold"
              >
                Personal
              </div>
              <a
                href="#"
                class="block mt-1 text-lg leading-tight font-semibold text-gray-900 hover:underline"
                >Need a stand-in boyfriend for your next CNY gathering?</a
              >
            </div>
          </div>
        </div>
        <div
          class="flex-1 text-gray-700 text-center bg-pink-300 px-5 py-5 m-2 rounded"
        >
          <div class="lg:flex lg:items-center">
            <div class="lg:flex-shrink-0">
              <img class="rounded-lg lg:w-64" src="https://images.unsplash.com/photo-1565728744382-61accd4aa148?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80" alt="business meeting picture" />
            </div>
            <div class="mt-4 lg:mt-0 lg:ml-6">
              <div
                class="uppercase tracking-wide text-sm text-purple-600 font-bold"
              >
                Professional
              </div>
              <a
                href="#"
                class="block mt-1 text-lg leading-tight font-semibold text-gray-900 hover:underline"
                >Find a stand-in secretary for your next meeting!</a
              >
            </div>
          </div>
        </div>
      </div>
    </div> %>
