<section class="relative bg-white h-80">
  <img
    class="absolute inset-0 object-[75%] sm:object-[25%] object-cover w-full h-full opacity-30"
    src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
    alt="people"
  />

  <div class="relative max-w-screen-xl px-4 py-32 mx-auto lg:h-screen lg:items-center">
    <div class="max-w-xl text-center sm:text-left">
      <h1 class="text-3xl sm:text-5xl text-hotpink italic">
        <%= (@category.name).capitalize %> Listings
      </h1>
      <br>
      <p><%= link_to "Add a listing", new_category_listing_path(@category), class: "inline-block text-sm px-4 py-2 rounded-full border text-white bg-hotpink hover:border-hotpink parent hover:text-hotpink hover:bg-white"%></p>
      </p>
    </div>
  </div>
</section>

<div class="grid lg:grid-cols-3 lg:flex md:flex justify-center flex-wrap">
  <% @listings.each do |listing| %>
    <%= link_to listing_path(listing) do %>
      <div class="relative p-8 text-center border border-transparent rounded-lg w-96 m-5 justify-between shadow-lg shadow-pink-200">
          <img
            class="object-cover w-full h-96 px-auto rounded shadow-2xl"
            src="<%= listing.user.avatar %>"
            alt=""
          />

            <h5 class="mt-4 text-xl font-bold text-headings uppercase">Hi, my name is <%= listing.user.first_name%></h5>

            <h5 class="mt-4 text-l text-black"><%= listing.slogan%></h5>

            <p class="block max-w-sm mt-2 text-gray-600 leading-tight text-left italic">
              <%= listing.description%>
            </p>
            <br>
            <p class="block mt-1 text-lg leading-tight font-semibold text-gray-900">Fee: ¥<%= listing.fee %> </p>
            <br>



          <% if policy(listing).edit? %>
            <%= link_to edit_listing_path(listing) do %>
              <button >
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-alt-circle-up" class="w-7 h-7" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#FF008E" d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z"/></svg>
              </button>
            <% end %>
          <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<br>
<br>
