<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Leave a review for <strong><%= (@booking.listing.user.first_name).capitalize %></strong></h3>
        <%= simple_form_for [ @booking, @review ] do |f| %>
          <%= f.input :rating, placeholder: 'Your rating out of 5' %>
          <%= f.input :content, placeholder: 'Your review' %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
