<!DOCTYPE html>
<html>
  <head>
    <title>Rentme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>


    <main class="container mx-auto mt-28 px-5 text-blue bg-black">
      hello
      <%= yield %>
    </main>
  </body>
</html>

<body class="text-red bg-teal-400">
  OMG
</body>
